<div class="container">
  <div class="row">
    <div class="col-md col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0"><%= @event.title %>リクエストフォーム</h5>
      <div class="form-body p-4">
       <%= form_with model: @join, url: confirm_general_users_event_joins_path, local: true do |f| %>
        <% if @join.errors.any? %>
        <%= @join.errors.count %>件のエラーが発生しました
        <% end %>
        <form class="row g-3 needs-validation" novalidate>
           <div class="position-relative">
            <%= f.label :name, "代表者氏名（必須）", class:"ol-sm-7 col-form-label" %>
            <%= f.text_field :name, class:"form-control", id:"name", placeholder:"農家太郎", required: true %>
            </div>

            <div class="position-relative">
                <%= f.label :email, "連絡先（必須）", class:"ol-sm-7 col-form-label" %>
                <%= f.text_field :email, class:"form-control", id:"email", placeholder:"メールアドレス", required: true %>
            </div>

            <div class="mb-3">
                <%= f.label :phone, "連絡先", class:"ol-sm-7 col-form-label" %>
                <%= f.text_field :phone, class:"form-control", id:"phone", placeholder:"電話番号（ハイフンなし）" %>
            </div>

            <div class="position-relative">
                <%= f.label :people, "参加希望人数（必須）", class:"ol-sm-7 col-form-label" %>
                <%= f.text_field :people, class:"form-control", id:"people", placeholder:"半角数字で入力", required: true %>
            </div>

            <div class="mb-3">

                <%= f.label :memo, "備考", class:"ol-sm-7 col-form-label" %>
                <%= f.text_area :memo, class:"form-control", id:"memo", placeholder:"要望等ありましたらここに記入してください。" %>

            </div>
            <div class="p-3 md-3">
              <%= f.submit "確認画面へ進む", class: "btn btn-success text-center" %>
            </div>

          </div>
        </form>
    </div>
   </div>
  </div>

<% end %>

