<div class="card-list-container py-5">
  <% @post.each do |post| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to general_users_post_path(post.id) do %>
    <%= attachment_image_tag post, :image %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= link_to farmer_users_customer_path(post.farmer_user) do %>
          <%= attachment_image_tag post.farmer_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %><%= post.farmer_user.name %>
          <% end %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <strong><i class="far fa-flag"></i><span><%= post.title %></span></strong>
          </p>
          <p cass="card-text"><%= post.introduction %></p>
        </div>

      </div>
    </div>
  </div>
</div>
<% end %>

