<!--投稿詳細ページ-->

<div>
  <%= attachment_image_tag @post, :image %>
  <p>タイトル：<%= @post.title %></p>
  <p>説明：<%= @post.introduction %></p>
  <p>ユーザーネーム：<%= @post.farmer_user.name %></p>
  <p>投稿日時：<%= @post.created_at.strftime('%Y%m%d') %></p>
</div>

<div>
  <p>コメント件数：<%= @post.post_comments.count %></p>

  <% @post.post_comments.each do |post_comment| %>
  <p><%= image_tag('no_image.jpg') %></p>
  <%= post_comment.general_user.name %>
  
  <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment%>
  <% if post_comment.general_user == current_general_user %>
  <div>
    <%= link_to "削除", general_users_post_post_comment_path(post_comment.post, post_comment), method: :delete %>
  </div>
  <% end %>
  <% end %>
</div>

<div>
  <!--form_withに対して，[]のように配列でインスタンス変数を２つ指定する-->
  <!--コメントは投稿(Post)に結びついたpost_commentにあるため２つ用意する必要がある-->
  <%= form_with(model:[@post, @post_comment], url: general_users_post_post_comments_path(@post), local: true) do |f| %>
  <%= f.text_area :comment, rows:'5' ,placeholder: "コメントをここに" %>
  <%= f.submit "コメントする" %>
  <% end %>
</div>