<!--投稿詳細ページ-->
<div class ="post-detail py-5 bg-light">
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= attachment_image_tag @post, :image, class:"card-img-top"; %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= attachment_image_tag @post.farmer_user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %> <span><i class="fas fa-user"></i><%= @post.farmer_user.name %></span>
        </div>
        <div class="col-10">
          <p class="card-title"><%= @post.introduction %></p>
          <span><i class="fa fa-calendar"></i> <%= @post.created_at.strftime('%Y/%m/%d') %></span>
        </div>
      </div>
      <hr>
      <div class="comments card-text">
        <h6 class="mt-3"><%= @post.post_comments.count %>件のコメント</h6>
         <% @post.post_comments.each do |post_comment| %>
         <div class="media border mb-3">
           <%= attachment_image_tag post_comment.general_user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg", class:"bd-placeholder-img align-self-center mx-3" %><br>
           <% if post_comment.farmer_user %>
              <%= post_comment.farmer_user.name %>
           <% else %>
              <%= post_comment.general_user.name %>
           <% end %>

           <div class="media-body ml-4 p-3">

            <p><%= post_comment.comment%></p>
            <p><%= post_comment.created_at.strftime('%Y/%m/%d') %></p>
              <% if post_comment.general_user == current_general_user %>
                <%= link_to "削除", general_users_post_post_comment_path(post_comment.post, post_comment), method: :delete %>
              <% end %>
           </div>
         </div>
         <% end %>
      </div>
      <hr>
      <div class="new-comment card-text">
        <!--form_withに対して，[]のように配列でインスタンス変数を２つ指定する-->
        <!--コメントは投稿(Post)に結びついたpost_commentにあるため２つ用意する必要がある-->
        <%= form_with(model:[@post, @post_comment], url: general_users_post_post_comments_path(@post), local: true) do |f| %>
        <div class="form-group">
          <%= f.text_area :comment, rows:'5' ,placeholder: "コメントをここに" %>
          <%= f.submit "コメントする" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
