<div class="container">
  <div class="profil-wrap">
    <div class="row">
      <div class="co-md-4 text-ceter">
        <%= attachment_image_tag @farmer_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg", class: "round-img" %>
      </div>
      <div class="col-md-8 p-5">
        <div class="row">
          <h1><%= @farmer_user.name %></h1>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="area">
      <input type="radio" name="tab_name" id="tab1" checked>
      <label class="tab_class" for="tab1"><i class="fas fa-book"></i></label>
      <div class="content_class">
        <div class="container">
          <div class="row">
            <% @posts.each do |post| %>
            <div class="col-lg-4 col-md-6 mb-4">
              <%= link_to general_users_post_path(post.id) do %>
              <%= attachment_image_tag post, :image, :fill, 380, 380, class: "img-fluid" %>
              <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
      <input type="radio" name="tab_name" id="tab2" >
      <label class="tab_class" for="tab2"><i class="fas fa-tractor user-font"></i></label>
      <div class="content_class">
        <div class="container">
          <div class="row">
            <% @events.each do |event| %>
            <div class="col-lg-4 col-md-6 mb-4">
             <%= link_to general_users_event_path(event.id) do %>
             <%= attachment_image_tag event, :event_image, :fill, 380, 380, class: "img-fluid"%>
             <% end %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

