 <table class="table table-bordered">
      <tbody>
        <thead>
        <tr>
          <%= attachment_image_tag @farmer_user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
        </tr>
        <tr>
          <th class ="carum_title">ニックネーム</th>
          <td class ="carum_date"><%= @farmer_user.name %></td>
        </tr>

        <tr>
          <th class ="carum_title">メールアドレス</th>
          <td class ="carum_date"><%= @farmer_user.email %></td>
        </tr>
        </thead>
      </tbody>
    </table>


    <% @posts.each do |post| %>
<div>

  <p>画像：<%= attachment_image_tag post, :image %></p>
  <p>ショップ名：<%= post.title %></p>
  <p>説明：<%= post.introduction %></p>

</div>
<% end %>



  </div>
</div>
