<!--農業体験リクエスト確認フォーム-->
<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th>代表者氏名</th>
      <th>メールアドレス</th>
      <th>電話番号</th>
      <th>参加人数</th>
      <th>備考</th>
    </tr>

    <tbody>
      <tr>
        <td><%= @join.name %></td>
        <td><%= @join.email %></td>
        <td><%= @join.phone %></td>
        <td><%= @join.people %>名</td>
        <td><%= @join.memo %></td>
      </tr>
    </tbody>
  </thead>
</table>

