<div class="container">
  <div class="row">
    <div class="col-md col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0"><%= @event.title %>のリクエスト情報確認</h5>
      <table>
        <tbody>
          <tr>
            <td class="text-center" style="width: 30%;">代表者氏名</td>
            <td><%= @join.name %></td>
          </tr>
          <tr>
            <td class="text-center">メールアドレス</td>
            <td style="white-space: pre-wrap;"><%= @join.email %></td>
          </tr>

          <tr>
            <td class="text-center">電話番号</td>
            <td style="white-space: pre-wrap;"><%= @join.phone %></td>
          </tr>

          <tr>
            <td class="text-center">参加人数</td>
            <td style="white-space: pre-wrap;"><%= @join.people %>名</td>
          </tr>

          <tr>
            <td class="text-center">備考</td>
            <td style="white-space: pre-wrap;"><%= @join.memo %></td>
          </tr>

        </tbody>
      </table>
       <%= form_with model:@join, url: farmer_users_event_joins_path, local:true do |f| %>
       <%= f.hidden_field :name %>
       <%= f.hidden_field :email %>
       <%= f.hidden_field :farmer_user_id, value: @join.farmer_user_id %>
       <%= f.hidden_field :phone %>
       <%= f.hidden_field :event_id, value: @join.event_id %>
       <%= f.hidden_field :people %>
       <%= f.hidden_field :memo %>
       <%= f.submit "イベントに参加する", class: "btn btn-success text-center" %>
        <% end %>

        <%= form_with model:@join, url: back_farmer_users_event_joins_path, local:true do |f| %>
        <%= f.hidden_field :name %>
        <%= f.hidden_field :email %>
        <%= f.hidden_field :phone %>
        <%= f.hidden_field :people %>
        <%= f.hidden_field :memo %>
        <%= f.submit '入力画面に戻る' %>
        <% end %>

    </div>
  </div>
</div>