<!DOCTYPE html>
<html>
  <head>
    <title>WithFarmers</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all'%>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <div class="container">
            <a class="navbar-brand" href="/"><span class="apptitle">With Farmers</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if farmer_user_signed_in? %>
            <li class="nav-item">
              <%= link_to '投稿一覧', farmer_users_posts_path, class: 'fas fa-book nav-link text-success' %>
            </li>
           <li class="nav-item">
              <%= link_to '農業体験', farmer_users_events_path, class: 'fas fa-tractor nav-link text-success' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', farmer_users_users_path(current_farmer_user.id), class: 'fas fa-house-user nav-link text-success' %>
            </li>
            <!--<li class="nav-item">-->
            <!--  %= link_to "ログアウト", destroy_farmer_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-success' %>-->
            <!--</li>-->

            <% elsif general_user_signed_in? %>
            <li class="nav-item">
              <%= link_to '投稿一覧', general_users_posts_path, class: 'fas fa-book nav-link text-success' %>
            </li>
           <li class="nav-item">
              <%= link_to '農業体験', general_users_events_path, class: 'fas fa-tractor nav-link text-success' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', general_users_users_path(current_general_user.id), class: 'fas fa-house-user nav-link text-success' %>
            </li>
            <!--<li class="nav-item">-->
            <!--  %= link_to "ログアウト", destroy_general_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-success' %>-->
            <!--</li>-->

            <% else %>
            <li class="nav-item">
              <%= link_to "トップ", root_path, class: "fas fa-home nav-link text-success" %>
            </li>
            <li class="nav-item">
              <%= link_to "About", home_about_path, class: "fas fa-link nav-link text-success" %>
            </li>
            <li class="nav-item">
              <%= link_to "新規登録", home_choice_path, class: "fas fa-user nav-link text-success" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", home_choice_login_path, class: 'fas fa-sign-in-alt nav-link text-success' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>

     <% if flash[:notice] %>
<div class="alert alert-notice">
     <%= flash[:notice] %>

   　 <% end %>
   　 </div>
   　 <%= yield %>

    </main>
    <header>

    </header>
  </body>
</html>
