<!--農業体験一覧-->

<div class="container">
<%= form_with url: search_farmer_users_events_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, value: @keyword,placeholder:"キーワードを入力" %>
    <%= f.submit "検索", class: "btn btn-outline-secondary" %>
  <% end %>

 <div class="d-flex justify-content-center">
 <!-- % if @event.errors.any? %>-->
 <!-- %= @event.errors.count %>件のエラーが発生しました。入力を確認してください。-->
 <!--% end %>-->
  <h3><button type="button" class="setting" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus btn btn-success"></i></button></h3>
 </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
   <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">農業体験投稿</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="list-group text-center">
          <%= form_with model: @event, url: farmer_users_events_path, local:true do |f| %>
           <div class="card-title">
            <%= f.attachment_field :event_image %>
           </div>
           <div class="card-title">
             <label for="book_opinion">農業体験名</label>
             <%= f.text_field :title, class:"form-control", placeholder:"ぶどう狩り🍇" %>
           </div>
           <div class="card-title">
            <label for="book_opinion">詳細</label>
            <%= f.text_area :introduction, class:"form-control", placeholder:"農業体験の詳細を記入してください。" %>
           </div>
           <div class="card-title">
            <label for="book_opinion">日程/時間/場所</label>
            <%= f.text_field :event_date, class:"form-control", placeholder:"２０●●年●●月●●日/午前●●時から/山梨県〇〇付近" %>
           </div>
           <div class="card-title">
            <label for="book_opinion">参加費（半角数字）</label>
            <%= f.text_field :price, class:"form-control", placeholder:"参加費がある場合は記入してください。" %>
            </div>
           <div class="card-title">
            <%= f.submit '投稿', class: "btn btn-success" %>
           </div>
         </div>
          <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">

 <!--投稿一覧-->
 <% @events.each do |event| %>
 <div class="card w-50 mx-auto mt-4 shadow-lg">

  <div class="card-wrap">
   <div class="d-flex bd-highlight">
    <div class="p-2 flex-grow-1 bd-highlight">
     <!--プロフィール-->
     <%= link_to farmer_users_customer_path(event.farmer_user) do %>
      <%= attachment_image_tag event.farmer_user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg", class: "circle" %><%= event.farmer_user.name %>
     <% end %>
    </div>
    <div class="p-2 bd-highlight">
     <i class="far fa-clock"><%= event.created_at.strftime('%Y/%m/%d') %></i>
    </div>
   </div>
   <%= link_to farmer_users_event_path(event.id) do %>
    <%= attachment_image_tag event, :event_image, class:"card-img-top"; %>
   <% end %>
   <div class="card-body">
    <div class="row">
     <div class="col-10">
      <p class="card-title">
       <strong><i class="far fa-flag"></i><span><%= event.title %></strong>
      </p>
      <p class="card-text"><%= event.introduction %></p>
     </div>
    </div>
   </div>
  </div>
 </div>
 <% end %>
</div>

